<routes>
 
  <ignore pattern="{resource}.axd/{*pathInfo}" /> 
 
  <map name="article" pattern="blog/article/{dt}" controller="blog" action="article">
	<params>
		<param name="dt" type="date" />
	</params>
	<tokens>
		<token name="token1" value="1"/>		
		<token name="token2" value="23"/>  
	</tokens>
  </map>
  
  <map name="parameters" pattern="blog/parameters/{a}/{b}/{c}" controller="blog" action="parameters">
	<params>
		<param name="a" type="int" />
		<param name="b" value="2" /> 
		<param name="c" value="3" />     
	</params> 
  </map>
  
  <map name="postonly" pattern="onlypost" method="POST" controller="blog" action="onlypost" />
  
  <map name="default" pattern="{controller}/{action}" controller="blog" action="index" />
  
</routes>
