<routes>

  <ignore pattern="{resource}.axd/{*pathInfo}" />

  <map name="default" pattern="{controller}/{action}/{a}/{b}" controller="home" action="index">
    <params>
      <param name="a" value="0" type="int" />
      <param name="b" type="date" />
    </params>
    <constraints>
      <constraint name="c" value="SomeClass" disabled="true" />
    </constraints>
  </map>
  
</routes>