<routes>

  <map name="default" pattern="{controller}/{action}/{id}" controller="home" action="index">
    <params>
      <param name="id" optional="true" />
    </params>
    <tokens>
      <token name="a" value="23" />
      <token name="b" value="false" />
    </tokens>
    <namespaces>
      <ns>Namespace1</ns>
      <ns>Namespace2</ns>
    </namespaces>
  </map>
  
</routes>