<routes>

  <ignore pattern="{resource}.axd/{*pathInfo}" />

  <map name="default" pattern="{controller}/{action}/{id}" controller="home" action="index">
    <params>
      <param name="id" value="0" optional="true" type="int" constraint="/d{2}"/>
      <someparam />
    </params>
  </map>
  
</routes>