<area name="Contact">
  <namespaces>
    <ns>XRouter.Mvc.Areas.Contact.Controllers</ns>
  </namespaces>
  <routes>
    <map name="contact_default" pattern="contact/{controller}/{action}/{id}"
         action="index">
      <params>
        <param name="id" optional="true" /> 
      </params>
    </map>
  </routes>
</area>
