<area name="Support">
  <namespaces>
    <ns>XRouter.Mvc.Areas.Support.Controllers</ns>
  </namespaces>
  <routes>
    <map name="support_default" pattern="support/{controller}/{action}/{id}"
         action="index">
      <params>
        <param name="id" optional="true" /> 
      </params> 
    </map>
  </routes>
</area>
