@{
    ViewBag.Title = "Parameters";
}

<h2>Parameters</h2>

<p>
Parameters: <br />
a: @ViewBag.a <br />
b: @ViewBag.b <br />
c: @ViewBag.c 
</p>

<p>
Back to @Html.ActionLink("home", "Index")
</p>