<area name="Support">
  <namespaces>
    <ns>TrafficPolice.Mvc.Areas.Contact.Controllers</ns>
  </namespaces>
  <routes>
    <map name="support_default" pattern="support/{controller}/{action}/{id}"
         controller="home" action="index">
      <params>
        <param name="id" optional="true" />
      </params>
    </map>
  </routes>
</area>
